<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teacher Grading Book</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="./mainpage.html"><h2>Grading Book</h2></a>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><h3>Students</h3></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#"><h3>Grades</h3></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#"><h3>Attendance</h3></a>
                </li>
              </ul>
              <button class="btn-info rounded">
                <h3>Logout</h3>
              </button>
            </div>
          </nav>

          <footer class="navbar navbar-expand-lg navbar-light" id="footer">
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="https://github.com/mattkohl82/Teachers-Grading-Book"><h3 class="repo">Github Repo<i class="fa fa-github" style="font-size:24px"></i></h3></a>
                </li>
              </ul>
              <span>
                <h3>Made by Group 1</h3>
              </span>
            </div>
        </footer>
    </body>
</html>