<form class="container2 d-flex flex-column justify-content-center align-items-center">
    <h1>Add a Student</h1>
    <div class="class-type d-flex flex-column justify-content-center align-items-center">
        <label for="course-name"><h2>Students Name</h2></label>
        <input class="course-name" type="text" id="class-type"placeholder="Enter Name Here"/>
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Submit</button>
    </div>
</form>