<nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><h1>Grading Book</h1></a>
    <div class="dropleft">
        <button class="btn btn-lg btn-outline-dark rounded-pill bg-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Create Course</button>
            <button class="dropdown-item" type="button">Add Student</button>
            <button class="dropdown-item" type="button">Log-out</button>
        </div>
    </div>
</nav>

<ol>
  {{#each courses}}
  <li>
    <article class="card" style="max-width: 50vw; margin-bottom: 5px;">
      <div class="card-body">
        <a href="{{course_url}}" target="_blank">{{title}}</a>
        <span>({{course_url}})</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>