{{> navbar }}

<section class="container2 d-flex flex-column justify-content-center align-items-center">
    <h1>Create A Course</h1>
    <form class="new-course-form">
    <div>
      <label for="course-title">Department</label>
      <input type="text" id="course-title" name="course-title" />
    </div>
    <div>
      <label for="course-url">Class Type</label>
      <input id="course-url" name="course-url" />
    </div>
    {{!-- <div>
      <label for="user-id">ID</label>
      <input id="user-id" name="user-id" />
    </div> --}}
    <button type="submit" class="btn btn-outline-dark rounded-pill bg-info">Create</button>
  </form>
</section>

<script src="/javascript/add-course.js"></script>