<form class="container2 d-flex flex-column justify-content-center align-items-center">
    <h1>Create A Course</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="course-type"><h2>Department</h2></label>
        <select class="department" id="type" name="type">
            <option value="history">History</option>
            <option value="english">English</option>
            <option value="science">Science</option>
            <option value="art">Art</option>
            <option value="humanity">Humanity</option>                \
            <option value="elective">Elective</option>
        </select>
    </div>
    <div class="class-type d-flex flex-column justify-content-center align-items-center">
        <label for="course-name"><h2>Course Name</h2></label>
        <input class="course-name" type="text" id="class-type" placeholder="Enter Course Here" />
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Submit</button>
    </div>
</form>