<form class="container2 d-flex flex-column justify-content-center align-items-center">
    <h1>Create a Course</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="course-type"><h2>Course Type</h2></label>
        <select class="course-type" id="type" name="type">
            <option value="history">History</option>
            <option value="english">English</option>
            <option value="science">Science</option>
            <option value="art">Art</option>
            <option value="humanity">Humanity</option>
            <option value="elective">Elective</option>
        </select>
    </div>
    <div class="class-type d-flex flex-column justify-content-center align-items-center">
        <label for="password-login"><h2>Class Type</h2></label>
        <input class="course-type" type="text" id="class-type" />
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Submit</button>
    </div>
</form>