<nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/homepage"><h1>Grading Book</h1></a>

    <a href="/login"><h2>login</h2></a>
    <a href="/signup"><h2>signup</h2></a>

    <div class="dropleft">
        <button class="btn btn-lg btn-outline-dark rounded-pill bg-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/createcourse"><button class="dropdown-item" type="button">Create Course</button></a>
            <button class="dropdown-item" type="button">Add Student</button>
            <button id="logout" class="btn-no-style">logout</button>
        </div>
      </div>
</nav>


<form class="container2 d-flex flex-column justify-content-center align-items-center">
    <h1>Create A Course</h1>
    <form class="new-course-form">
    <div>
      <label for="course-title">Department</label>
      <input type="text" id="course-title" name="course-title" />
    </div>
    <div>
      <label for="course-url">Class Type</label>
      <input id="course-url" name="course-url" />
    </div>
    <div>
      <label for="user-id">ID</label>
      <input id="user-id" name="user-id" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</form>

<script src="/javascript/add-course.js"></script>