<div class="content d-flex justify-content-center flex-column">
    <header >Grading Book</header>
    <button class="align-self-center btn btn-outline-dark rounded-pill bg-info"><h3>Log In</h3></button>
    <button class="align-self-center btn btn-outline-dark rounded-pill bg-info"><h3>SignUp</h3></button>
</div>