<form class="container login-form d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">Grading Book</h1>
    <div class="login-form d-flex flex-column justify-content-center align-items-center">
        <label for="email-login"><h2>Email:</h2></label>
        <input type="text" id="email-login" placeholder="Enter Email Here"/>
    </div>
    <div class="login-form d-flex flex-column justify-content-center align-items-center">
        <label for="password-login"><h2>Password:</h2></label>
        <input type="password" id="password-login" placeholder="Enter Password Here"/>
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Login</button>
    </div>
</form>