<form class="container signup-form d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">Grading Book</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="username-signup"><h2>Username:</h2></label>
        <input type="text" id="username-signup" placeholder="Enter Username Here"/>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="email-signup"><h2>Email:</h2></label>
        <input type="text" id="email-signup" placeholder="Enter Email Here"/>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="password-signup"><h2>Password:</h2></label>
        <input type="password" id="password-signup" placeholder="Enter Valid Password Here"/>
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Signup</button>
    </div>
</form>