{{> navbar }}

<main role="main" class="spreadsheet d-flex flex-column justify-content-center align-items-center">
  <h1 class="course-title">{{course.title}}</h1>   
  <h2>{{course.course_url}}</h2> 
    <button type="button" class="delete-course-btn">Delete Course</button>   
</main>

<script src="/javascript/delete-course.js"></script>
<script src="/javascript/spreadsheet.js"></script>
