{{> navbar }}

<main role="main" class="spreadsheet d-flex flex-column justify-content-center align-items-center">
  <h1 class="course-title title">{{course.title}}</h1>   
  <h2 class="course-url">{{course.course_url}}</h2> 
  <button type="button" class="btn btn-outline-dark rounded-pill bg-info delete-course-btn">Delete Course</button> 
</main>
<div class="container">
  <table class="table table-bordered table-hover" style="margin-top: 5px; background-color: rgba(255, 255, 255, 0.87);">
    <thead class="text-center">
      <tr>
        <th>Student</th>
        <th>Quiz</th>
        <th>Homework</th>
        <th>Tests</th>
        <th>Days Absent</th>
      </tr>
    <tbody class="text-center">
      <tr>
        <td>Becky with the good hair</td>
        <td>98%</td>
        <td>79%</td>
        <td>89%</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Linda, Linda Listen</td>
        <td>57%</td>
        <td>65%</td>
        <td>75%</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Charlie bit my finger</td>
        <td>97%</td>
        <td>86%</td>
        <td>88%</td>
        <td>4</td>
      </tr>
      <tr>
        <td>John Ryan</td>
        <td>100%</td>
        <td>100%</td>
        <td>100%</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Keyboard Cat</td>
        <td>69%</td>
        <td>93%</td>
        <td>85%</td>
        <td>3</td>
      </tr>
    </tbody>
    </thead>
  </table>
</div>

<script src="/javascript/delete-course.js"></script>
<script src="/javascript/spreadsheet.js"></script>
