<nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><h1>Grading Book</h1></a>
    <a href="/login"><h2>login</h2></a>
    <a href="/signup"><h2>signup</h2></a>

    <div class="dropleft">
        <button class="btn btn-lg btn-outline-dark rounded-pill bg-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Create Course</button>
            <button class="dropdown-item" type="button">Add Student</button>
            <button id="logout" class="dropdown-item" type="button">Log-out</button>
        </div>
    </div>
</nav>


<article class="card" style="max-width: 25vw; margin-bottom: 5px">
  <div class="card-header">
    <p>{{course.title}}</p>
    <span>({{course.course_url}})</span>
  </div>
  <div class="card-footer">
    {{course.user.username}}
  </div>
</article>

<main role="main" class="spreadsheet d-flex flex-column justify-content-center align-items-center">
  <h1 class="course-title">{{course.title}}</h1>    
    <div class="spreadsheet welcome-div">      
      <div id='student'>
      </div>
    </div>    
</main>

<script src="/javascript/spreadsheet.js"></script>
