<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

{{> navbar }}

<main role="main" class="d-flex flex-column justify-content-center align-items-center">
  <p class="course-title">{{course.title}}</p>   
  <p class="course-url">{{course.course_url}}</p> 
  <button type="button" class="btn btn-outline-dark rounded-pill bg-info delete-course-btn">Delete Course</button> 
</main>



<div class="container" style="width:75vw; background-color: rgba(255, 255, 255, 0.637);">
  <table class="display" style="height: 25vh; width:70vw; background-color: rgba(255, 255, 255, 0.774);" >
    <thead style="background-color: rgba(0, 0, 0, 0.226);">
      <tr>
        <th>Student</th>
        <th>Quiz</th>
        <th>Homework</th>
        <th>Tests</th>
        <th>Days Absent</th>
      </tr>
    </thead>
    <tbody>
      {{#each course.students as |student|}}
      <tr>
        <td>{{student.name}}</td>
          {{#each grades as |grade|}}
            <td>{{grade.score}}</td>
          {{/each}}
          <td>0</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="/javascript/delete-course.js"></script>

<script>

  $(document).ready(function() {
    $('.display').DataTable({
      'searching': false,
      'info': false,
      "lengthMenu": [[5], [5]]
    });
} );

</script>

