<main role="main" class="spreadsheet d-flex flex-column justify-content-center align-items-center">
        <h1 class="course-title">Insert Course Here</h1>    
        <div class="spreadsheet welcome-div">      
            <div id='student'>
            </div>
        </div>    
      </main>

<script src="/javascript/spreadsheet.js"></script>

