<main role="main" class="container">
    <h1>Insert Course Here</h1>    
    <div class="container welcome-div">      
        <div id='student'>
        </div>
    </div>    
</main>

<script src="/javascript/spreadsheet.js"></script>

