* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    }
body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.377), rgba(255, 255, 255, 0.26)), url(../../src/main.jpg);
}

.content {
    position: fixed; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 1rem;
    width: 10rem;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 2rem;
}

.btn:hover {
    cursor: pointer;
    background-color:rgb(120, 250, 218);
}
