* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    }
body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.377), rgba(255, 255, 255, 0.26)), url(../../src/main.jpg);
}

.content {
    position: fixed; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.content header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    word-spacing: -30px;

}

.btn {
    text-decoration: none;
    margin-top: 15px;
}

.btn2 {
    width: 50vh;
}

.btn:hover {
    cursor: pointer;
    background-color:rgb(120, 250, 218);
}

nav {
    background-color: rgba(255, 255, 255, 0.349);
    word-spacing: -15px;
    height: 10vh;
}

nav h1:hover {
    color: white;
}

nav button {
    font-family: 'Times New Roman', Times, serif;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.363);
  }

footer .repo:hover {
    color: white;
}

.container {
    margin-top: 15vh;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6rem;
    word-spacing: -30px;
}

.container2 {
    margin-top: 10vh;
}

.container2 h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    word-spacing: -30px;
}

.department {
    width: 100%;
    height: 6vh;
    text-align-last: center;
    font-size: 2rem;
}

.class-type {
    margin-top: 10px;
}

.course-name {
    font-size: 2rem;
    text-align-last: center;
}

.container2 h1 {
    word-spacing: 1px;
}





  

